@font-face {
    font-family: 'Bebas';
    src: url('./fonts/ofont.ru_Bebas\ Neue.ttf');
    font-weight: 700;
  }
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: 'Bebas';
}

html{
     scroll-behavior: smooth;
}

body{
    background-color: #1E0909;
   
}   

header,.characterinfo,.gallery{
    margin-bottom: 50px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #1E0909;
}
::-webkit-scrollbar-thumb {
    background: #ff0000;
}
::-webkit-scrollbar:horizontal{
    display: none;
}
.shadow{
    background: url(./img/Group\ 71.png) no-repeat;
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 100%;
}
/* hover */
.nav-header__link:hover, .nav-footer__link:hover {
    color: #ff0000;
}
.nav-header__link:active, .nav-footer__link:active {
    color: #ff0000;
}

/* preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background: #1E0909;
}
#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*  */

/* .gradient::before {
    height: 136px;
    z-index: 1;
} */


/* nav */

.nav-header__list {
    margin-top: 30px;
    margin-left: 240px;
    display: flex;
    justify-content: space-between;
    width: 424px;
    font-size: 20px;
}




/* header */
.headerscnd{
    height: 1080px;
    /* display: flex;
    justify-content: space-between; */
}
.header__list-scnd{
    height: 1000px;
    display: flex;
    flex-direction: row;
    width: 1300px;
    justify-content: space-around;
    align-items: center;
    background: url(./img/Backgroundheader.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.header__list-scnd:last-child {
    display: flex;
    justify-content: end;
    
}

.header__list-items-scnd{
    display: flex;
    justify-content: space-around;
    height: 409px;
    flex-direction: column;
    align-items: center;
}

.header__list-items-scnd:first-child{
    height: 450px;
}
.nav-header__list-description{
   
}
.header-btn-scnd:hover{
    box-shadow: 0px 0px 76px 0px rgba(255, 0, 0, 0.5);
}

.header-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 32px;
    width: 276px;
    height: 100px;
    background-color: #FF0300;
    border: none;
}

.nav-header__list-deadpool {
    width: 780px;
}

.header-animation{
    transform: translateX(20%);
  animation: anim 0.5s forwards;
}
.header-animation-logo{
    transform: translateX(-20%);
    animation: anima 0.5s forwards;
}
@keyframes anim {
    0% {transform: translateX(20%);}
    100% {transform: translateY(0);}
}
@keyframes anima {
    0% {transform: translateX(-20%);}
    100% {transform: translateY(0);}
}


/* char-info */
.characterinfo {
    display: flex;
    /* height: 786px; */
    background: url(./img/obrez.png) no-repeat;
    background-size: 1550px;
    width: 100%;

}

.gradient-containier {
    width: 1600px;
    height: 136px;
    background: linear-gradient(rgba(30, 9, 9, 1), rgba(30, 9, 9, 0) );
    background-size: 1300px;
    margin-bottom: -136px;
    position: relative;
    z-index: 3;
}
.bottom-gradient-containier {
    width: 1600px;
    height: 136px;
    background: linear-gradient(rgba(30, 9, 9, 0), rgba(30, 9, 9, 1) );
    background-size: 1300px;
    margin-top: -136px;
    position: relative;
    z-index: 3;
}
.characterinfo__img {
    height: 631px;
    
}

.characterinfo__container{
    width: 1104px;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    

}
.characterinfo__description {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    width: 510px;
    text-align: center;
    height: 480px; 
}
.characterinfo-animation{
    opacity: 0;
    animation: animat 2.5s forwards;
}
@keyframes animat {
    0% {opacity: 0;}
  100% {opacity: 1;}
}


/* gallery */

.gradient-containier-gallary {
    z-index: 1;
}
.bottom-gradient-containier-gallery {
    z-index: 5;
    /* margin-top: 100px; */
    height: 100px;
}
.gallery {
    z-index: 0;
    position: relative;
    background: url(./img/Frame\ 297\ \(1\).png) no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 1200px;
    width: 100%;
}
.gallery__list-items {
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
}
.gallery-animation .gallery__list-items {
    animation: ani 1s ease-in-out forwards;
}
.gallery-animation .gallery__list-items:nth-child(2) {
    animation: ani 1s forwards 0.5s;
}
.gallery-animation .gallery__list-items:nth-child(3) {
    animation: ani 1s forwards 1s;
}

@keyframes ani {
    0% {transform: translateX(-500%);}
    15% {transform: translateX(5%);}
    30% {transform: translateX(-5%);}
    45% {transform: translateX(3%);}
    60% {transform: translateX(-3%);}
    75% {transform: translateX(1%);}
    85% {transform: translateX(-1%);}
    100% {transform: translateX(0);}
}
.gallery__list 
{
    padding-top: 20px;
    margin: 0 auto;
    width: 672px;
    display: flex;
    flex-direction: column;
    height: 903px;
    justify-content: space-between;
}
.gallery__list-items-img 
{
    position: relative; /* Добавьте position: relative */
    filter: sepia(100%);
    transition: filter 0.5s ease-in-out, transform 0.3s ease-in-out;
    transform-origin: center;
    transform: translate(0, 0);
    z-index: 7; /* Увеличьте z-index */
}
.gallery__list-items-img:hover 
{
    box-shadow: 0px 0px 76px 0px rgba(255, 0, 0, 0.5);
    transform: translate(2px, -2px);
    filter: none;
}
.gallery__list-items-img{
    filter: sepia(100%); 
    transition: filter 0.5s ease-in-out, transform 0.3s ease-in-out; 
    transform-origin: center;
    transform: translate(0, 0)
}
.gallery__list-items:nth-child(2){
    display: flex;
    justify-content: flex-end;
}
.gallery__list-items:nth-child(2)>img:not(:last-child){
    margin-right: 25px;
}
.gallery__list-items:nth-child(3)>img:not(:last-child){
    margin-right: 25px;
}
.gallery__list-items:nth-child(3){
    display: flex;
    justify-content: flex-start;
} 
.gallery__link{
    margin-bottom: 243px;
    display: flex;
    position: absolute;
    right: 12%;
    bottom: 3%;
    font-size: 32px;
    /* padding: 10px; */
    /* height: 50px;
    width: 50px; */
    background-color: #000000c8;
    /* box-shadow: 0px 5px 15px 2px #ffffff; */
}


/* footer */
.footer{
    background: url(./img/footer-bkgrd-main.png) no-repeat;
    overflow: hidden;
    background-size: cover;
    height: 895px;
    width: 100%;
}
.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(./img/footer-bcg.png) no-repeat;
    overflow: hidden;
    background-size: cover;
    height: 895px;
    width: 100%;
}
.footer__container-list{
    display: flex;
    justify-content: space-between;
    background-size: cover;
    margin: 0 auto;
    width: 885px;
    height: 526px;
}
.footer__list-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__list-items:last-child{
    width: 457px;
}
.footer__list-items__description{
    text-align: center;
    margin-top: 71px;
    font-size: 24px;
}
.footer__container-subcontainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 160px;
}
.footer-click{
    position: absolute;
    opacity: 0;
    margin-top: 2%;
    left: 30%;
}

